mixin inputBlock(props={ className, labelText, type, placeholder, clearButton, checkLabel, alert, alertText, name })
  .input-block(class=props.className)
    p.alert-text= props.alertText
    input.input-text(type=props.type placeholder=props.placeholder class=props.alert && "block" name=props.name)
    label.label-input= props.labelText
    div.input-btns
      if props.clearButton
        button.btn-clear X
      if props.checkLabel
        label.label-check